<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7"
            src="https://cdn.cloudservetechcentral.com/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>Talkative - Allow Video and Audio access to join in the Room.</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="Talkative" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="Talkative calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://Talkative.up.railway.app/images/preview.png" />
        <meta property="og:url" content="https://Talkative.herokuapp.com/" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-01">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            Access to camera and microphone
                                        </h1>
                                        <p
                                            id="getUserMediaError"
                                            class="mt-0 mb-32 reveal-from-bottom"
                                            data-reveal-delay="300"
                                        ></p>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            This app will not work without camera/microphone access. Please try again
                                            and allow it.
                                        </p>
                                        <script>
                                            let qs = new URLSearchParams(window.location.search);
                                            let roomId = qs.get('roomId');
                                            let getUserMediaError = qs.get('getUserMediaError');
                                            console.log('Allow Camera && Audio', {
                                                roomId: roomId,
                                                getUserMediaError: getUserMediaError,
                                            });
                                            // print getUserMedia error
                                            document.getElementById('getUserMediaError').innerHTML = getUserMediaError;
                                        </script>
                                        <div class="reveal-from-bottom" data-reveal-delay="450">
                                            <button
                                                class="button button-primary button-wide-mobile pulse"
                                                style="
                                                    border: 0;
                                                    background: linear-gradient(
                                                        100deg,
                                                        #376df9 0,
                                                        #ff5fa0 75%,
                                                        #ffc55a 100%
                                                    );
                                                "
                                                onclick="roomId ? window.location.href = '/join/' + roomId : window.location.href = '/newcall';"
                                            >
                                                Try again!
                                            </button>
                                            <br><br>
                                            <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="1500">
                                                Still didn't work? Your camera might be used by another application. Close that application and try again.
                                            </p>
                                        </div>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="brand">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                            <div class="footer-social">
                                <ul class="list-reset">
                                    <li>
                                        <a target="_blank" href="mailto:kayden@programmer.net">
                                            <svg
                                                width="16"
                                                height="16"
                                                viewBox="0 0 16 16"
                                                xmlns="http://www.w3.org/2000/svg"
                                            >
                                                <title>Email</title>
                                                <path
                                                    d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                                                    fill="#0270D7"
                                                />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-bottom space-between text-xxs invert-order-desktop">
                            <nav class="footer-nav">
                                <ul class="list-reset">
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/privacy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.linkedin.com/in/kaydenlee-/"
                                            >Contact: Kayden Lee</a
                                        >
                                    </li>
                                </ul>
                            </nav>
                            <div class="footer-copyright">&copy; 2022 Talkative, all rights reserved</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script defer src="../js/landing.js"></script>
    </body>
</html>
